
@import url('https://fonts.googleapis.com/css2?family=Monda&family=Rubik&display=swap');
@import '../src/styles/commonClasses.css';
@import '../src/styles/variable.css';
body {
  margin: 0;
  font-family: 'Monda', sans-serif;
  font-family: 'Rubik', sans-serif;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
